/** Planos **/
.planos {
  background: $cor-auxiliar;
}

.planos h2 {
  color: $cor-branca;
}

.plano {
  background: white;
  width: multiplica-pela-fonte(18);
  display: inline-block;
  margin: 1 * $font-default 0 0 1.4 * $font-default;
  padding-bottom: 2em;
}

.plano:hover {
  background: #dedede;
}

.plano h3 {
  color: $cor-branca;
  font-size: 1.8 * $font-default;
  background: $cor-padrao;
  text-align: center;
  height: 2 * $font-default;
  padding-top: .6em;
  margin-top: 0;
}

.plano div {
  text-align: center;
  color: $cor-padrao;
  font-size: 2.75 * $font-default;
}

.itens-plano {
  padding-left: 1.2 * $font-default;

  li {
    font-size: 1 * $font-default;
    list-style: none;
    border-bottom: 1px solid #acacac;
    padding: .5em;
    width: 14.8 * $font-default;

    &:last-child {
      border: 0;
    }
  }

  span {
    float: right;
  }

}

.plano button {
  background: $cor-padrao;
  border: 0;
  color: $cor-branca;
  width: 210px;
  height: 38px;
  font-size: 1.2 * $font-default;
  @include borda-arredondada;
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 2px 6.65px);
  margin-left: 2 * $font-default;
}

@include all-sprite-sprites;
.sprite-icone-ok, .sprite-icone-x {
  width: 20px;
  height: 20px;
}